.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./img/weather-wallpaper-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
